.wrapper {
  width: 960px;
  margin: 0 auto;
  text-decoration-color: black;
}
.content{
  position: relative;
  border: 1px solid black;
  width: 40.5em;
  margin: 3em;

}
header {
	width: 960px;
}
footer{
  width:960px;
  clear: both;
  margin-right: 10em;
  border-radius: 3px;
    border: 1px solid black;
}

nav {
  width: 20%;
  margin-right: 1em;
  height: 400px;
  float: left;
  position: relative;
}

section {
  width: 46.5em;
  float: right;
  margin-top: -0em;
  height: 400px;
  position: relative;
    overflow-y: scroll;
}

body {
  background-color: #2EFEF7;
  color: #FFF;
  font-family: Helvetica;
  text-align: center;
  margin: 0;
}

header,
nav,
section {
  border: 1px solid black;
  margin-bottom: 10px;
  border-radius: 3px;

}

#area{
  margin-top: -1em;
  border-radius: 6px 6px 6px 6px;

}

#message{
  width: 40%;
  height: 10%;
}
header, footer {
  padding: 20px 0;
}

nav, section, {
  padding: 200px 0;
}

ul  {
     list-style-type: none;
     background-color: black;
     margin: 0;
     padding: 0;
     overflow: hidden;

 }
 li a {
     display: block;
     text-align: center;
     padding: 11px 13px;
       color: white;
       text-decoration: none;
 }

 li {
     float: left;
 }

 li a:hover {
     background-color:  #2EFEF7;
 }
